@white: #FFFFFF;
@gray_dark: #333333;

body {
  background: @gray_dark;
}

.content {
  transition: all 0.3s;
}

.invisible {
  opacity: 0;
}

.auth {
  background: @white;
  padding: 20px 100px;
  border-radius: 10px;
  &__background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: @gray_dark;
  }
}

.header-block {
  background: @white;
  border-radius: 10px;
  height: 70px;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-list {
  background: @white;
  border-radius: 10px;
  margin-top: 30px;
  &__button {
    margin-bottom: 4px;
  }
}

.search {
  margin-top: 30px;
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
  }
}